numpy==1.20.1
cryptography==3.4.7
aiofiles==0.6.0
async_exit_stack==1.0.1
async_generator==1.10
brotli==1.0.9
contextvars==2.4
Cython==0.29.23
cython==0.29.23
docutils==0.17.1
email_validator==1.1.2
graphene==2.1.8
gunicorn==20.1.0
httptools==0.1.1
hypothesis==6.10.0
importlib_metadata==4.0.0
itsdangerous==1.1.0
Jinja2==2.11.3
keyring==23.0.1
lockfile==0.12.2
lxml==4.6.3
multipart==0.2.4
ordereddict==1.1
orjson==3.5.2
protobuf==3.15.8
pyOpenSSL==20.0.1
pytest==6.2.3
python-dotenv==0.17.0
PyYAML==5.4.1
ujson==4.0.2
watchgod==0.7
wincertstore==0.2
wsproto==1.0.0
zipp==3.4.1
